<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="BirackiSpisak" connectionString="Server=KGGUAPP02\KGGUSQL;Database=BirackiSpisak;User Id=sa;Password=SiC7770!;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="BrojOvlascenja" value="035-77/20-XXV" />
    <add key="DanOvlascenja" value="20" />
    <add key="MesecOvlascenja" value="01" />
    <add key="GodinaOvlascenja" value="2020" />
    <add key="PutanjaZaPromeneMUP" value="D:\podaci\MUP_podaci" />
    <add key="PutanjaZaPromeneMKU" value="D:\podaci\MKU_podaci" />
    <add key="PutanjaZaPromeneMKV" value="D:\podaci\MKV_podaci" />
    <add key="ZupBrojZaMKU" value="081-208-00-15/" />
    <add key="ZupBrojZaMKR" value="081-208-00-06/" />
    <add key="ZupBrojZaMKV" value="081-208-00-06/" />
    <add key="ZupBrojZaTP" value="081-208-00-07/" />
  </appSettings>

</configuration>